body {
    margin: 0;
    padding: 0;

}

.middle-aligned-image {
    vertical-align: middle;
}

.left-aligned-image {
    float: left;
}

.right-aligned-image {
    float: right;
}

.delete-icon-stylizer {
    color: red;
    position: absolute;
    right: -20px;
    top: -10px; 
    cursor: pointer;
}

.block-stylizer {
    background-color: #FAFAFA;
    width: 100%;
}

.block-stylizer:hover {
    background-color: #E1E1E1;
    transition: 0.4s;
}

.center-element {
    display: block; 
    margin: 0 auto 0 auto;
}

.logo-body
{
    width: 245px;
    height: 245px;
    background: #AAC1DC; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    text-align: center;
    border: 7px inset #92A8D1;
}

table, th, td {
    border: 1px solid black;
}